<!DOCTYPE html>
<html>
<head>
	<title>Admin Page</title>
	<style>
		.container {
			display: flex;
			flex-direction: row;
			align-items: flex-start;
		}
		.box {
			border: 1px solid black;
			padding: 10px;
			margin-right: 20px;
		}
		.box-label {
			font-weight: bold;
			margin-bottom: 5px;
		}
		.tab-container {
			border-top: 2px solid #ddd;
			margin-top: 10px;
			padding-top: 10px;
		}
		.tab {
			display: none;
			border: 1px solid black;
			padding: 10px;
		}
		.tab.active {
			display: block;
			border-top: 1px solid black;
			margin-top: 0px;
		}
		.tablink {
			background-color: #eee;
			color: #333;
			display: inline-block;
			padding: 10px 15px;
			border: none;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			cursor: pointer;
			transition: background-color 0.3s;
			margin-bottom: 0px;
			position: relative;
			z-index: 1;
		}
		.tablink:hover {
			background-color: #ddd;
		}
		.tablink.active {
			background-color: thistle		;
			color: #000;
			position: relative;
			z-index: 2;
			border: 1px solid black;
			border-bottom: none;
			margin-bottom: -1px;
      font-weight: bold;
		}
		.button-container {
			margin-top: 10px;
		}
		.button {
			display: block;
			margin-bottom: 5px;
			background-color: #fff;
			color: #333;
			border: 1px solid #ccc;
			padding: 10px 15px;
			border-radius: 5px;
			cursor: pointer;
			transition: background-color 0.3s;
		}
		.button:hover {
			background-color: #ddd;
		}

    .action-buttons {
      display: inline-flex;
    }

    .action-buttons button:first-child {
      margin-right: 10px;
    }

    table {
      border-collapse: collapse;
      width: 100%;
    }

    th, td {
      border: 1px solid #ccc;
      text-align: left;
      padding: 8px;
    }

    th {
      background-color: #f2f2f2;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
	</style>
	<script>
		function openTab(event, tabName) {
			var i, tabcontent, tablinks;
			tabcontent = document.getElementsByClassName("tab");
			for (i = 0; i < tabcontent.length; i++) {
				tabcontent[i].style.display = "none";
			}
			tablinks = document.getElementsByClassName("tablink");
			for (i = 0; i < tablinks.length; i++) {
				tablinks[i].className = tablinks[i].className.replace(" active", "");
			}
			document.getElementById(tabName).style.display = "block";
			event.currentTarget.className += " active";
		}
	</script>
</head>
<body>
  <div class="container">
    <div class="box">
      <div class="box-label">Modify System Information</div>
      <div class="tab-container">
        <button class="tablink active" onclick="openTab(event, 'tab1')">Courses</button>
        <button class="tablink" onclick="openTab(event, 'tab2')">Universities</button>
        <button class="tablink" onclick="openTab(event, 'tab3')">Departments</button>
        <button class="tablink" onclick="openTab(event, 'professors')">Professors</button>
        <button class="tablink" onclick="openTab(event, 'tab5')">Rooms</button>
      </div>
      <!-- COURSES -->
      <div id="tab1" class="tab active">
        <h3>Courses</h3>
        <div class="course-list">
          <table id="course-table">
            <tr>
              <th>Course ID</th>
              <th>Course Name</th>
              <th>Actions</th>
            </tr>
            {% for course in courses %}
            <tr>
              <td>{{ course[0] }}</td>
              <td>{{ course[1] }}</td>
              <td>
                <div class="action-buttons">
                  <button class="button">Edit Course</button>
                  <form action="{{ url_for('admin_routes.delete_course') }}" method="POST" style="display: inline;">
                    <input type="hidden" name="course_id" value="{{ course[0] }}">
                    <button type="submit" class="button">Delete Course</button>
                  </form>
                </div>
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>
        <form action="{{ url_for('admin_routes.add_course') }}" method="POST">
          <input type="text" name="course_name" placeholder="Course Name" required>
          <button type="submit" class="button">Add Course</button>
        </form>
      </div>
      <!-- UNIVERSITIES -->       
      <div id="tab2" class="tab">
        <h3>Universities</h3>
        <div class="university-list">
          <table id="university-table">
            <tr>
              <th>University Name</th>
              <th>Location</th>
              <th>Actions</th>
            </tr>
            {% for university in universities %}
            <tr>
              <td>{{ university[0] }}</td>
              <td>{{ university[1] }}</td>
              <td>
                <div class="action-buttons">
                  <button class="button">Edit University</button>
                  <form action="{{ url_for('admin_routes.delete_university') }}" method="POST" style="display: inline;">
                    <input type="hidden" name="name" value="{{ university[0] }}">
                    <button type="submit" class="button">Delete University</button>
                  </form>
                </div>
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>
        <form action="{{ url_for('admin_routes.add_university') }}" method="POST">
          <input type="text" name="name" placeholder="University Name" required>
          <input type="text" name="location" placeholder="Location" required>
          <button type="submit" class="button">Add University</button>
        </form>
      </div>
      <!-- DEPARTMENTS -->
      <div id="tab3" class="tab">
        <h3>Departments</h3>
        <!-- Department table -->
        <table>
          <thead>
            <tr>
              <th>Department Name</th>
              <th>University</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for department in departments %}
            <tr>
              <td>{{ department.name }}</td>
              <td>{{ department.university }}</td>
              <td>
                <form action="{{ url_for('admin_routes.delete_department') }}" method="post">
                  <input type="hidden" name="name" value="{{ department.name }}">
                  <button type="submit" class="btn btn-danger">Delete</button>
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <br>
        <!-- Add Department form -->
        <form action="{{ url_for('admin_routes.add_department') }}" method="POST">
          <label for="name">Department Name:</label>
          <input type="text" id="name" name="name" required>
          <label for="university">University:</label>
          <select name="university" id="university" required>
            <option value="" disabled selected>Select University</option>
            {% for university in universities %}
              <option value="{{ university.name }}">{{ university.name }}</option>
            {% endfor %}
          </select>
          <input type="submit" value="Add Department">
        </form>
      </div>
      <!-- PROFESSORS -->
      <div id="professors" class="tab">
        <h3>Professors</h3>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Department</th>
              <th>University</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for professor in professors %}
              <tr>
                <td>{{ professor.professor_id }}</td>
                <td>{{ professor.f_name }}</td>
                <td>{{ professor.l_name }}</td>
                <td>{{ professor.department }}</td>
                <td>{{ professor.university }}</td>
                <td>
                  <form action="{{ url_for('admin_routes.delete_professor') }}" method="post">
                    <input type="hidden" name="professor_id" value="{{ professor.professor_id }}">
                    <button type="submit" class="btn btn-danger">Delete</button>
                  </form>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <h4>Add a Professor</h4>
        <form action="{{ url_for('admin_routes.add_professor') }}" method="post">
          <div class="form-group">
            <label for="f_name">First Name:</label>
            <input type="text" class="form-control" id="f_name" name="f_name" required>
          </div>
          <div class="form-group">
            <label for="l_name">Last Name:</label>
            <input type="text" class="form-control" id="l_name" name="l_name" required>
          </div>
          <div class="form-group">
            <label for="department">Department:</label>
            <select class="form-control" id="department" name="department" required>
              <option value="">Select a Department</option>
              {% for department in departments %}
                <option value="{{ department.name }}">{{ department.name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="university">University:</label>
            <select class="form-control" id="university" name="university" required>
              <option value="">Select a University</option>
              {% for university in universities %}
                <option value="{{ university.name }}">{{ university.name }}</option>
              {% endfor %}
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Add Professor</button>
        </form>
      </div>
      <!-- ROOMS -->
      <div id="tab5" class="tab">
        <h3>Rooms</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Building ID</th>
                    <th>Room ID</th>
                    <th>University</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for room in rooms %}
                <tr>
                    <td>{{ room.building_id }}</td>
                    <td>{{ room.room_id }}</td>
                    <td>{{ room.university }}</td>
                    <td>
                        <form action="{{ url_for('admin_routes.delete_room') }}" method="POST">
                            <input type="hidden" name="building_id" value="{{ room.building_id }}">
                            <input type="hidden" name="room_id" value="{{ room.room_id }}">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h3>Add Room</h3>
        <form action="{{ url_for('admin_routes.add_room') }}" method="POST">
            <div class="form-group">
                <label for="building_id">Building ID:</label>
                <input type="number" class="form-control" name="building_id" required>
            </div>
            <div class="form-group">
                <label for="room_id">Room ID:</label>
                <input type="number" class="form-control" name="room_id" required>
            </div>
            <div class="form-group">
                <label for="university">University:</label>
                <select class="form-control" name="university" required>
                    <option value="" selected disabled>Select a university</option>
                    {% for university in universities %}
                    <option value="{{ university.name }}">{{ university.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Add Room</button>
        </form>
      </div>
    </div>
  </div>
  <button class="button" style= "margin-top: 5px;" onclick="location.href='/'">Log Out</button>
</body>
</html>
