<html>
  <head>
    <title>Account Creation</title>
  </head>
  <body>
    <h1>Create Account</h1>
    <form action="/create_account" method="post">
      <label for="f_name">First name:</label>
      <input type="text" id="f_name" name="f_name"><br><br>

      <label for="l_name">Last name:</label>
      <input type="text" id="l_name" name="l_name"><br><br>

      <label for="username">Username:</label>
      <input type="text" id="username" name="username"><br><br>

      <label for="password">Password:</label>
      <input type="password" id="password" name="password"><br><br>

      <input type="submit" value="Create Account">
      {% if status_message %}
        <p class="status">{{ status_message }}</p>
      {% endif %}
    </form>
  </body>
</html>